# <span style="color:green"> 1 Actividad 5 por Python plus </span>
<span style="color:green">
Siguiendo los lineamientos dados, grabá un video breve, de no más de cinco (5) minutos, en donde se explique el ejercicio asignado.
Al finalizar copiá el enlace al video como respuesta a la tarea ACT 5 por Python plus 
IMPORTANTE: tenés 3 horas partir del momento en que te asignamos el enunciado.
</span>


# <span style="color:green"> 2 Enunciado 11 </span>
<span style="color:green">
Copiá el siguiente código al IDE que utilizás habitualmente y respondé las consignas de la siguiente
sección. Para probar el código debés descargar el archivo: area_protegida.csv
El archivo original está en el portal IG
</span>

<span style="color:green">
(a) Mostrá la ejecución del código y explicá qué hace. ¿Qué se almacena en las variables
header, data?¿Por qué se hace la conversión a list?
</span>

In [128]:
import csv
file_route = "area_protegida.csv"

def my_function(data, *args):
    my_data = {}
    for elem in args:
        my_data[elem] = len([x for x in data if elem in x[6] ])
    return my_data

with open(file_route, encoding='utf-8') as data_set:
    reader = csv.reader(data_set, delimiter=',')
    header, data = next(reader), list(reader)
    result = my_function(data, "Reserva", "Parque")
    result2 = my_function(data, "Monumento")
    print(result)
    print(result2)

{'Reserva': 228, 'Parque': 102}
{'Monumento': 12}

Abre el archivo area_protegida.csv.
Guarda como header el encabezado (primera fila con los nombre de los campos) y los siguientes registros como una lista.
La conversión a lista es permite recorrer más de una vez el archivo, a diferencia de iterables que solo podrían ser recorridos una vez.
La lista es recorrida 2 veces:
1. result: Crea un diccionario donde las llaves serán los valores "Reserva" y "Parque". Por cada llave, que es una string, filtra las veces que forma parte del nombre del área protegida (gna) y luego calcula la cantidad de elementos filtrados.
2. result2: similar a result, pero para el valor "Monumento".

<span style="color:green"> (b) Escribí una solución alternativa usando pandas. Mostrá la ejecución de tu versión y explicá en detalle qué hace. En esta versión,¿es necesario definir las variables header y data? ¿Por qué?</span>

<span style="color:green">
Nota: La salida de la solución con pandas no es necesario que sea exactamente igual en
cuanto a formato. Lo importante es que se muestren los datos filtrados de acuerdo con lo
especificado en el código original.

</span>

In [127]:
import pandas as pd
file_route = "area_protegida.csv"

df_area_protegida = pd.read_csv(file_route)

def my_function(data):
    if 'Reserva' in data:
        return 'reserva'
    elif 'Parque' in data:
        return 'parque'
    elif 'Monumento' in data:
        return 'monumento'

df_area_protegida['tipo_area'] = df_area_protegida['gna'].apply(my_function)

df_area_protegida.tipo_area.value_counts()

tipo_area
reserva      228
parque        93
monumento     12
Name: count, dtype: int64

La solución tiene un problema ya que algunos parques también son reservas

In [141]:
import pandas as pd
file_route = "area_protegida.csv"
df_area_protegida = pd.read_csv(file_route)

def my_function(data):
    if 'Parque' in data and 'Reserva' in data:
        return 'Parque y Reserva'
    elif 'Reserva' in data:
        return 'Reserva'
    elif 'Parque' in data:
        return 'Parque'
    elif 'Monumento' in data:
        return 'Monumento'

df_area_protegida['tipo_area'] = df_area_protegida['gna'].apply(my_function)
df_area_protegida.tipo_area.value_counts()

tipo_area
Reserva             219
Parque               93
Monumento            12
Parque y Reserva      9
Name: count, dtype: int64

In [140]:


def my_function(data, *args):
    tipo = ""
    for elem in args:
        if elem in data:
            tipo = tipo + elem
    return tipo


df_area_protegida['tipo_area'] = df_area_protegida.apply(lambda x: my_function(x.gna, "Reserva", "Parque"), axis=1)
df_area_protegida.tipo_area.value_counts()

tipo_area
Reserva          219
Parque            93
                  74
ReservaParque      9
Name: count, dtype: int64

In [138]:
df_area_protegida['tipo_area'] = df_area_protegida.apply(lambda x: my_function(x.gna, "Monumento"), axis=1)
df_area_protegida.tipo_area.value_counts()

tipo_area
{'Monumento': 12}    395
Name: count, dtype: int64

In [132]:
df_area_protegida['tipo_area'] = df_area_protegida.apply(lambda x: my_function(x.gna, "Reserva", "Parque", "Monumento"), axis=1)
df_area_protegida.tipo_area.value_counts()

tipo_area
Reserva          219
Parque            93
                  62
Monumento         12
ReservaParque      9
Name: count, dtype: int64

In [133]:
import pandas as pd
file_route = "area_protegida.csv"

df_area_protegida = pd.read_csv(file_route)

def my_function(df, *args):
    my_data = {}
    for elem in args:
        my_data[elem] = df_area_protegida.gna.str.contains(elem).sum()
    return my_data

result = my_function(df_area_protegida, "Reserva", "Parque")
result2 = my_function(df_area_protegida, "Monumento")
print(result)
print(result2)

{'Reserva': 228, 'Parque': 102}
{'Monumento': 12}

<span style="color:green">
Teniendo en cuenta tu solución, respondé:
</span>

<span style="color:green">
(c) Mostrá en tu código algún objeto de tipo dataframe y otro de tipo Series.
</span>

In [134]:
type(df_area_protegida)

pandas.core.frame.DataFrame

In [135]:

pd.Series(df_area_protegida.gna)

0      Sitio RAMSAR y Reserva Hemisférica
1           Reserva Natural de la Defensa
2                            Sitio Ramsar
3                Parque Natural Municipal
4                       Parque Provincial
                      ...
390                       Parque Nacional
391                       Parque Nacional
392                      Reserva Nacional
393         Reserva Natural de la Defensa
394         Reserva Natural de la Defensa
Name: gna, Length: 395, dtype: object

In [136]:
type(df_area_protegida.gna)

pandas.core.series.Series

In [142]:
type(df_area_protegida.tipo_area)

pandas.core.series.Series

<span style="color:green">
(d) ¿De qué manera (usando pandas) podemos modificar los nombres de todas las columnas del dataset? Ejemplificá con el dataset dado, luego de quedarse con las primeras 7
columnas
</span>

In [143]:
df_area_protegida_seven_columns = df_area_protegida[df_area_protegida.columns[:7]]
df_area_protegida_seven_columns.head(3)

,lat,lng,gid,entidad,objeto,fna,gna
0,-53.546655,-68.041297,362,falso,Área protegida,Sitio RAMSAR y Reserva Hemisférica Costa Atlán...,Sitio RAMSAR y Reserva Hemisférica
1,-31.404445,-64.357709,157,falso,Área protegida,Reserva Natural de la Defensa La Calera,Reserva Natural de la Defensa
2,-32.245004,-60.734423,169,falso,Área protegida,Sitio Ramsar Delta del Parana,Sitio Ramsar

In [144]:
df_area_protegida_seven_columns.columns = ['Latitud','Longitud','GID', 'Entidad','Objeto', 'FNA', 'GNA']
df_area_protegida_seven_columns.head(3)

,Latitud,Longitud,GID,Entidad,Objeto,FNA,GNA
0,-53.546655,-68.041297,362,falso,Área protegida,Sitio RAMSAR y Reserva Hemisférica Costa Atlán...,Sitio RAMSAR y Reserva Hemisférica
1,-31.404445,-64.357709,157,falso,Área protegida,Reserva Natural de la Defensa La Calera,Reserva Natural de la Defensa
2,-32.245004,-60.734423,169,falso,Área protegida,Sitio Ramsar Delta del Parana,Sitio Ramsar

Es importante renombrar todas las columnas cuando utilizamos esta opción. También podríamos hacerlo renombrando una a una:

In [145]:
df_area_protegida_seven_columns.rename(columns={'Latitud': 'Lat'})
df_area_protegida_seven_columns.head(3)

,Latitud,Longitud,GID,Entidad,Objeto,FNA,GNA
0,-53.546655,-68.041297,362,falso,Área protegida,Sitio RAMSAR y Reserva Hemisférica Costa Atlán...,Sitio RAMSAR y Reserva Hemisférica
1,-31.404445,-64.357709,157,falso,Área protegida,Reserva Natural de la Defensa La Calera,Reserva Natural de la Defensa
2,-32.245004,-60.734423,169,falso,Área protegida,Sitio Ramsar Delta del Parana,Sitio Ramsar

In [146]:
df_area_protegida_seven_columns.rename(columns={'Latitud': 'Lat'}, inplace=True)
df_area_protegida_seven_columns.head(3)

C:\Users\Santiago\AppData\Local\Temp\ipykernel_8880\473832023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_area_protegida_seven_columns.rename(columns={'Latitud': 'Lat'}, inplace=True)

,Lat,Longitud,GID,Entidad,Objeto,FNA,GNA
0,-53.546655,-68.041297,362,falso,Área protegida,Sitio RAMSAR y Reserva Hemisférica Costa Atlán...,Sitio RAMSAR y Reserva Hemisférica
1,-31.404445,-64.357709,157,falso,Área protegida,Reserva Natural de la Defensa La Calera,Reserva Natural de la Defensa
2,-32.245004,-60.734423,169,falso,Área protegida,Sitio Ramsar Delta del Parana,Sitio Ramsar

<span style="color:green">
(e) En base a tu versión en pandas del código dado, describí al menos dos ventajas del
uso de esta librería sobre el manejo de archivos csv. Si considerás que no las hay, indicá
en qué te basás.
</span>

##### Ventajas: 
1. Facilidad en la consulta y exploración de datos: Mientras que csv casi que no permite una visualización de datos, con Pandas se pueden explorar los datos muy fácilmente con funciones como shape, info(), describe, dtypes, etc.
2. Facilidad para analizar y transformar datos: Mientras que trabajando con csv debemos trabajar con los datos línea por línea (con listas o iterables), pandas ofrece funciones para filtrar y transformar datos en todas sus filas, asé como cambiar el tipo de dato (útil cuando tenemos valores nulos por ejemplo).
3. Integración con bibliotecas de  visualización de datos (Matplotlib, Plotly, Folium).